apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: jewelry-shop
  labels:
    app: promtail
    component: logging
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
      log_level: info

    positions:
      filename: /run/promtail/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      - job_name: kubernetes-pods
        static_configs:
          - targets:
              - localhost
            labels:
              job: varlogs
              __path__: /var/log/pods/jewelry-shop_*/*/*.log
